body {
  font-family: Arial;
  background: #000000;
  color: rgb(249, 239, 239);
  text-align: center;
}

/* CONTENEDOR */
#productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

/* TARJETA */
.product-card {
  background: #1e1e2f;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

/* 🔥 IMAGEN ARREGLADA */
.product-card img {
  width: 100%;
  height: 150px;          /* 🔥 tamaño fijo */
  object-fit: cover;      /* 🔥 recorta sin deformar */
  border-radius: 10px;
}

/* TEXTO */
.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  margin: 5px 0;
}

/* BOTÓN */
.product-card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
}

.product-card button:disabled {
  background: gray;
  cursor: not-allowed;
}

/* POPUP */
#formPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  display: none;
  justify-content: center;
  align-items: center;
}

#formPopup form {
  background: #1e1e2f;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

/* INPUTS */
#formPopup input,
#formPopup textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

/* TOTAL */
#total {
  font-weight: bold;
  color: #4CAF50;
}